# Configurações do Banco de Dados
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=sua_senha
DB_NAME=sistema_ordem_servico
DB_PORT=3306

# URL de conexão do Prisma
DATABASE_URL="mysql://root:sua_senha@localhost:3306/sistema_ordem_servico"

# Porta do Servidor Backend
PORT=3001
